@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--violet) url("images/bg-mobile.svg") no-repeat;
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

img {
  max-width: 100%;
}

/* Colors */

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-violet: hsl(258, 45%, 66%);
  --soft-magenta: hsl(300, 69%, 71%);
  --dark-slate-blue: hsl(252, 38%, 38%);
  --white: hsl(0, 0%, 100%);
}

/* Typography  */

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.company-info {
  color: var(--white);
}

.company-description {
  line-height: 25px;
  opacity: 0.8;
}

.btn {
  font-size: 0.75em;
  font-weight: 600;
  box-shadow: 10px 5px 20px var(--dark-slate-blue);
}

/* Layout */

.logo {
  width: 8em;
  margin-bottom: 3.5em;
}

.card-image {
  margin-bottom: 3.5em;
}

.company-motto {
  margin-bottom: 0.5em;
}

.company-info {
  text-align: center;
  margin-bottom: 4em;
}

.company-description {
  margin-bottom: 2em;
}

.btn {
  text-decoration: none;
  background-color: var(--white);
  color: var(--soft-violet);
  padding: 1em 6.5em;
  border-radius: 50px;
}

.social-icons > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social-icons a {
  text-decoration: none;
}

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5em;
  min-height: 2.5em;
  font-size: 0.75em;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  margin: 0.5em;
}

/* Footer */

footer {
  display: none;
}

.attribution {
  font-size: 0.6875em;
  text-align: center;
}
.attribution a {
  color: var(--white);
}

/* Media Queries */

@media (min-width: 411px) {
  body {
    background: var(--violet) url("images/bg-desktop.svg") no-repeat;
  }
}

@media (min-width: 1200px) {
  body {
    width: 100%;
    margin: 1.5em 5em;
  }
  .logo {
    width: 13em;
    margin-bottom: 5em;
  }
  .container {
    display: flex;
  }
  .card {
    width: 46%;
    margin-right: 3.75em;
  }
  .company-info {
    width: 36%;
    text-align: left;
    margin-top: 3em;
  }
  .company-motto {
    font-size: 2.45rem;
    margin-bottom: 0.3em;
  }
  .company-description {
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    margin-bottom: 2.5em;
  }
  .btn {
    font-size: 1.1rem;
    padding: 1em 3.75em;
  }
  .social-icons > ul {
    justify-content: flex-end;
    transform: translate(-9em, -2em);
  }
  .fab {
    font-size: 1em;
    margin-right: 0.75em;
  }
  footer {
    display: initial;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 48%;
  }
}

@media (min-width: 1920px) {
  body {
    margin-left: 10em;
    margin-right: 10em;
  }
  .card {
    margin-right: 0;
  }
  .company-info {
    width: 32%;
  }
  .company-motto {
    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: 0.5em;
  }
  .company-description {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 3em;
  }
  .social-icons > ul {
    transform: translate(-22.5em, -4.5em);
  }
}
